<!-- Footer -->
<footer class="footer-container">
    <div class="footer-inner-container">
        <div class="f-title">
            <h1 class="custom-h-1"> 
                <span class="std-footer-text">Need to talk to us</span> 
                <span class="std-footer-text">directly?</span>  
                <span class="std-footer-text light-green">Contact us ></span> 
            </h1>
        </div>
        <div class="f-main">
            <a href="#">Privacy and Security</a>
            <a href="#">Legal</a>
            <a href="#">Accessibility</a>
            <a href="#">About Us</a>
            <a href="#">Careers</a>
        </div>
        <div class="f-base">
            <a href="https://www.facebook.com/" target="_blank"><img src="assets/images/facebook.svg" alt="facebook icon"></a> 
            <a href="https://twitter.com" target="_blank"><img src="assets/images/twitter.svg" alt="twitter icon"></a> 
            <a href="https://www.youtube.com/" target="_blank"><img src="assets/images/youtube.svg" alt="youtube icon"></a> 
            <a href="https://en.wikipedia.org/wiki/RSS" target="_blank"><img src="assets/images/rss.svg" alt="rss feed icon"></a> 
        </div>
    </div>
</footer>




