// Import the variable file
@import "../../../_variables";

// The design container holds the main design, such that it can be copied and re-used. 
.design-container {
    .std-text {
        color: $stdTextColor;
    }
    .h-extra {
        font-weight: 500;
    }
}

// This container holds the individual controls
.controls-container {
    .personal-input-set-1, .personal-input-set-2 {
        display: flex;
    }
    .form-item-container {
        margin: 10px;
    }
}

.btn-container {
    display: flex;
    justify-content: flex-end;
    button {
        margin: 4px 7px;
    }
}

.side-button {
    width: 100%;
    white-space: normal; /* Enable word wrap in button element */
    word-wrap: break-word; /* Enable word wrap in button element */
}
.text-content-p {
    padding: 0 5px;
}

@media(max-width: 780px) {
    .design-container {
        .left-column {
            float: none;
            width: 100%;
            padding: 10px;
        }
        .right-column {
            float: none;
            width: 100%;
            padding: 10px;
        }

        .extra-title {width: 100%;}
        .extra-xname { width: 100%;}
        .extra-initial { width: 100%;}
        .extra-email { width: 100%;}
        .extra-dob { width: 100%;}
        .extra-sin { width: 100%;}
        
        .controls-container {
            .personal-input-set-1, .personal-input-set-2 {
                justify-content: space-between;
                flex-direction: column;
            }
        }
    }
}

@media(min-width: 780px) {
    .design-container {
        .left-column {
            float: left;
            width: 75%;
            padding: 20px;
        }
        .right-column {
            float: left;
            width: 25%;
            padding: 20px;
        }
        .extra-title {width: 62px;}
        .extra-xname { width: 130px;}
        .extra-initial { width: 100px;}
        .extra-email { width: 180px;}
        .extra-dob { width: 130px;}
        .extra-sin { width: 190px;}
        
        .controls-container {
            .personal-input-set-1, .personal-input-set-2 {
                justify-content: space-between;
                flex-direction: row;
            }
        }
    }
}

// Make the form data to be submitted displayed in blue contrast
.result {
    color: blue;
}