<!-- Navbar -->
<div class="nav-bar" role="banner">
    <!-- Mobile devices menu -->
    <mat-icon class="item-icon menu-icon">menu</mat-icon>

    <!-- TD Logo -->
    <div class="logo-container">
        <img width="40" alt="Td Logo" src="assets/images/tdlogo.png" />
    </div>
    <!-- Insurance Label -->
    <div class="bold-text insurance-label">TD Insurance</div>

    <!-- Middle links group -->
    <div class="middle-group">
        <span class="thin-text nav_links">Products</span>
        <span class="thin-text nav_links">Claims</span>
        <span class="thin-text nav_links">Contact Us</span>
    </div>

    <!-- End links group -->
    <div class="end-group">
        <span class="thin-text nav_links icon-ref">
            Ontario
            <mat-icon class="item-icon">keyboard_arrow_down</mat-icon>
        </span>
        <span class="thin-text nav_links icon-ref">
            EN
            <mat-icon class="item-icon">keyboard_arrow_down</mat-icon>
        </span>
        <span class="thin-text nav_links icon-ref">
            <mat-icon class="item-icon">search</mat-icon>
        </span>
        <span class="thin-text nav_links-login icon-ref">
            <span class="login-text">login</span>
            <mat-icon class="item-icon">lock</mat-icon>
        </span>
    </div>
  
</div>
