/* You can add global styles to this file, and also import other style files */
@import './_css-reset.scss'; // The css reset styles
@import './_variables.scss'; // The variables styles



  body {
      width: 100%;
      font-family: 'Roboto', sans-serif;
      background-color: $displayWindowBackground;
  }

  .bold-text {
      font-size: 19px;
      font-weight: 500;
  }

  .thin-text {
      font-size: 14px;
  }

  .item-icon  {
      font-size: 18px;
      width: 18px !important;
  }

  .display-h1, .display-h2 {
    color: $hTitleColor;
    font-weight: 100;
    margin: 30px 0;
  }
  .display-h1 {
    font-size: 22px;
  }
  .display-h2 {
    font-size: 16px;  
  }
  .std-text {
      color: $stdTextColor;
  }

  .light-green-bg {
      background-color: $tdLightGreen;
      color: #ffffff;
  }

  .dark-green-bg {
      background-color: $tdDarkGreen;
      color: #ffffff;
  }

//   nav drawer control

mat-drawer-container {
    mat-drawer {
      width: 200px;
      .mat-drawer-inner-container {
        background-color: #3f89b5;
      }
    }
  }
  
.mat-drawer-content {
    margin-top: 20px;
}
.end-group {
    .mat-button {
        line-height: 23px;
        padding: 0 1px;
    }
}

.page-display-container {
    width: 100%;
    max-width: 600px;
    margin: 50px auto;
    border-radius: 8px;
    border: solid 1px $tdDarkGreen;
    padding: 15px;
}
